{% extends 'base.html' %} {% block body %}
<div class="section-container" id="home">
  <div id="row-hero">
    <div class="container">
      <div class="buffer-top" id="hero">
        <h1 class="fadein-fast">Luke Harrison</h1>
        <h1 class="fadein-fast">Developer | Artist | Designer</h1>
        <p class="fadein-fast">
          Bay Area based. Specializing in custom themes and Python
          development. If you are a business seeking a web presence or an
          employer looking to hire, you can get in touch with me
          <a href="/#contact">here</a>.
        </p>
        <div class="callToAction">
          <a href="https://forms.gle/28dtTY4zpJwyR2ms5" target="_blank" class="btn btn-primary">I need a website<span
              class="icon-chevron-right"></span></a>
          <a href="mailto:luke@hackthehood.org" target="_blank" class="btn btn-light">I'm looking to hire<span
              class="icon-chevron-right"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="section-divider" />
<div class="section-container" id="projects">
  <div class="projects-container">
    <div class="card" style="width: 18rem;">
      <video autoplay muted loop class="myVideo card-img-top">
        <source src="/static/images/ohmyquad.mov" type="video/mp4" />
      </video>
      <div class="card-body">
        <h5 class="card-title">Oh My Quad</h5>
        <a class="btn btn-primary" href="https://github.com/trrstnn/Project-3-OhMyQuad">Github</a>
        <!-- <a class="btn btn-primary" href="https://ohmyquad.herokuapp.com/login">App</a> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <video autoplay muted loop class="myVideo card-img-top">
        <source src="/static/images/LineTime.mov" type="video/mp4" />
      </video>
      <div class="card-body">
        <h5 class="card-title">LineTime</h5>
        <a class="btn btn-primary" href="https://github.com/LukazDane/LineTime">Github</a>
        <!-- <a class="btn btn-primary" href="#" class="not-active">App</a> -->
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <video autoplay muted loop class="myVideo card-img-top">
        <source src="/static/images/slayfarer.mov" type="video/mp4" />
      </video>
      <div class="card-body">
        <h5 class="card-title">Slayfarer</h5>
        <a class="btn btn-primary" href="https://github.com/teknoformula/project-02-with-firebase">Github</a>
        <a class="btn btn-primary" href="https://ga-project-02.firebaseapp.com/">App</a>
      </div>
    </div>
  </div>

  <hr class="section-divider" />
  <div class="section-container" id="recent">
    <div>
      <video autoplay muted loop class="myVideo most-recent">
        <source src="/static/images/grapplr.mov" type="video/mp4" />
      </video>
      <div class="recent-container"></div>
    </div>
  </div>

  {% endblock %}