{% extends 'layout.html' %} {% block body %}
<div class="section-container" id="home">
  <h1 class="section-title text">Home Page</h1>
  <!-- personal image box -->
  <!-- <div class="main-box">
    <div class="left-box"></div>
    <div class="right-box"></div>
  </div> -->
  <div id="row-hero">
    <div class="container">
      <div class="buffer-top" id="hero">
        <h1 class="fadein-fast">Web/Python Dev | Artist | Designer</h1>
        <p class="fadein-fast">
          Based out of Oakland, Ca. Specializing in custom themes and Python
          development. If you are a business seeking a web presence or an
          employer looking to hire, you can get in touch with me
          <a href="/#contact">here</a>.
        </p>
        <div class="callToAction">
          <a
            href="https://forms.gle/28dtTY4zpJwyR2ms5"
            target="_blank"
            class="btn btn-freelance"
            >I need a website<span class="icon-chevron-right"></span
          ></a>
          <a href="mailto:me@company.com" target="_blank" class="btn btn-hire"
            >I'm looking to hire<span class="icon-chevron-right"></span
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="section-divider" />
<div class="section-container" id="projects">
  <h1 class="section-title text">Projects</h1>
  <div class="projects-container">
    <div class="project-box">
      <h1 class="project-title">Placeholder</h1>
      <div class="project-img image is-16by9"></div>

      <!-- maybe use icons here -->
      <p class="project-links">[<a href="#">Github</a>][<a href="#">App</a>]</p>
    </div>

    <div class="project-box">
      <h1 class="project-title">Placeholder</h1>
      <div class="project-img image is-16by9"></div>

      <!-- maybe use icons here -->
      <p class="project-links">[<a href="#">Github</a>][<a href="#">App</a>]</p>
    </div>

    <div class="project-box">
      <h1 class="project-title">Placeholder</h1>
      <div class="project-img image is-16by9"></div>

      <!-- maybe use icons here -->
      <p class="project-links">[<a href="#">Github</a>][<a href="#">App</a>]</p>
    </div>

    <div class="project-box">
      <h1 class="project-title">Placeholder</h1>
      <div class="project-img image is-16by9"></div>

      <!-- maybe use icons here -->
      <p class="project-links">[<a href="#">Github</a>][<a href="#">App</a>]</p>
    </div>
  </div>
</div>
<hr class="section-divider" />
<div class="section-container" id="contact">
  <h1 class="section-title text">Contact</h1>

  <div class="form-container"></div>
</div>

{% endblock %}
